<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
	      id        = "org.camptocamp.app.tests"
	      version   = "0.1.0">

  <name>tests</name>

  <description>
    Bla bla
  </description>

  <author href="http://wwww.camptocamp.org" email="dev@camptocamp.org">
    Camptocamp Association
  </author>

  <license href="http://www.gnu.org/licenses/gpl.html">
    Distributed under the GPLv3
  </license>

  <feature name="http://api.phonegap.com/1.0/geolocation" />
  <feature name="http://api.phonegap.com/1.0/network" />
  <feature name="http://api.phonegap.com/1.0/file" />
  <feature name="http://api.phonegap.com/1.0/camera" />
  
</widget>